@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
* {
    padding: 0;
    margin: 0;
    overflow: visible;
}
body {
}
.my-body-container {
    padding: 0 11%;
}

.width-container {
    width: 78%;
    margin: 40px auto;
}
