.replies-container {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.replies{
    grid-column: 2/3;
}

.replies-btn {
    grid-column: 2/3;
    text-align: start;
    border: none;
    background-color: #fff;
    color: #182cdc;
    font-size: 12px;
    outline: none;
    margin-top: 5px;
}

.replies-btn:hover {
    cursor: pointer;
}

