.single-comment-container{
    display: grid;
    grid-template-columns: 50px auto;
    grid-auto-rows: minmax(50px,auto);
    margin-top: 10px;
}

.profile-avatar-wrapper{
    margin-right: 5px;
}
.profile-avatar-icon img{
    height: 50px;
    width: 50px;
}

.user-name{
    font-weight: bold;
    font-size: 14px;
    padding-right:  .3em;
}
.created-at{
    font-size: 10px;
    color: #707072;
}

.comment-description{
    padding: 0.1em;
    font-size: 16px;

}

.reply-button{
    border: none;
    background-color:#fff;
    outline: none;
}
.reply-button:hover{
    cursor: pointer;
}