.featured-products {
	display: grid;
	grid-template-columns: repeat(6, 220px);
	grid-row-gap: 50px;
	justify-content: space-between;
}
/*
.featured-product {
	height: 300px;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px;
	grid-gap: 30px;
	max-width: 800px;
}

.product-container {
	background: #f8f8f8;
	box-shadow: 4px 4px 6px grey;
	font-weight: 600;
	padding: 5px;
}

.image-wrap {
	padding: 20px;
	max-height: 200px;
	overflow: hidden;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.title-wrap {
	text-align: center;
	color: black;
	font-weight: 600;
}
 */
