.filter-container {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    background-color: #ccc;
    height: 400px;
}

.filter-component {
    padding: 0 0 1em 0;
}

.price-component {
    text-align: center;
}
