.no-results-found {
	height: 85vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	font-weight: 400px;
	background-color: blue;
	font-size: 36px;
}

.search-result {
	display: flex;
}