@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
:root {
    font-size: 18px;
}
@media only screen and (max-width: 1700px) {
    :root {
        font-size: 15px;
    }
}
@media only screen and (max-width: 1500px) {
    :root {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1300px) {
    :root {
        font-size: 13px;
    }
}
