@import url("./Layouts/NavBar.css");
@import url("./Layouts/Search.css");
@import url("./MainContent/Home.css");
@import url("./MainContent/FeaturedProduct.css");

@media only screen and (max-width: 1420px) {
    /* navbar */
    .my-navbar {
        height: 50px;
    }
    .my-nav-menu {
        width: 450px;
    }
    .my-nav-menu li .my-link {
        font-size: 12px;
    }
    .logo {
        font-size: 36px;
    }
    .logo-and-search {
        width: 670px;
    }
    .my-dropdown-button {
        height: 30px;
        width: 130px;
        font-size: 12px;
    }
    .search-form input[type="text"] {
        width: 400px;
    }
    .search-form input[type="text"],
    .search-button {
        height: 30px;
    }
    /* featured products */
    .featured-products {
        grid-template-columns: repeat(4, 220px);
    }
}
@media only screen and (max-width: 1300px) {
    /* navbar */
    .search-form input[type="text"] {
        width: 350px;
    }
    .logo-and-search {
        width: 600px;
    }
    /* herosection */
    .title-section {
        font-size: 96px;
    }
    .subtitle-section {
        font-size: 18px;
    }
    .post-ad-btn {
        height: 50px;
        width: 170px;
    }
    /* featued products */
    .featured-products {
        grid-template-columns: 202px 202px 202px 202px;
    }
}
@media only screen and (max-width: 1250px) {
    .search-form input[type="text"] {
        width: 200px;
    }
    .logo-and-search {
        width: 400px;
    }
    /* featued products */
    .featured-products {
        grid-template-columns: 202px 202px 202px;
    }
}
@media only screen and (max-width: 1020px) {
    /* navbar */
    .search-form {
        display: none;
    }
    .logo-and-search {
        width: 100px;
    }
    /* herosection */
    .title-section {
        font-size: 72px;
    }
    .subtitle-section {
        font-size: 12px;
        margin-top: -45px;
    }
    .column-one {
        grid-template-rows: 1fr 20px 1fr;
    }
    .featured-products {
        grid-template-columns: 180px 180px 180px;
    }
}
@media only screen and (max-width: 800px) {
    /* navbar */
    .search-form {
        display: none;
    }

    /* herosection */
    .title-section {
        font-size: 72px;
    }
    .subtitle-section {
        font-size: 12px;
        margin-top: -45px;
    }
    .column-one {
        grid-template-rows: 1fr 20px 1fr;
    }
    .featured-products {
        grid-template-columns: 202px 202px;
    }
}
