.product-container {
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-rows: 188px 110px;
    background: white;
    transition: all 0.2s ease-out;
    color: #0c0c0c;
}
.product-container:hover {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
    color: #0c0c0c;
    text-decoration: none;
}
.image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrap img {
    height: 100%;
    width: 100%;
}

.home-title-info {
    display: grid;
    align-self: center;
    grid-template-columns: 180px;
    grid-template-rows: 30px 25px 30px;
    justify-content: center;
    min-width: 0;
    min-height: 0;
}

.home-title,
.home-price,
.home-condition {
    white-space: initial;
    overflow: hidden;

    justify-self: center;
}
.home-title-info .home-title {
    font-size: 22px;

    font-weight: 550;
    color: #0c0c0c;
}
.home-title-info .home-price {
    color: #17924f;
    font-size: 16px;
}
.home-title-info .home-condition {
    font-size: 12px;
    color: #4a4a4a;
    align-self: start;
}
