.product-container {
	height: 300px;
	width: 202px;
	justify-self: center;
	display: grid;
	grid-template-rows: 188px 110px;
	background: white;
	transition: all 0.2s ease-out;
	color: #0c0c0c;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
}
.product-container:hover {
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.20);
	color: #0c0c0c;
	text-decoration: none;
}
.image-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-wrap img {
	height: 100%;
	width: 100%;
}

.home-title-info {
	font-size: 16px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
}

.home-title-info .home-title,
.home-price,
.home-condition {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}
.home-title-info .home-title{
	font-size: 18px;
	color: #0c0c0c;
	
	
}
.home-title-info .home-price {
	color: #0c9463;
	font-size: 20px;
}
.home-title-info .home-condition {
	font-size: 12px;
	color: #4a4a4a;
	align-self: start;
}
