.product-container {
	height: 300px;
	width: 202px;
	display: grid;
	grid-template-rows: 188px 110px;
	background: white;
	transition: all 0.2s ease-in;
	color: #0c0c0c;
}
.product-container:hover {
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
	color: #0c0c0c;
	text-decoration: none;
}
.image-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-wrap img {
	height: 100%;
	width: 100%;
}

.title-info {
	font-size: 16px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
}

.title-info .title-text,
.price,
.condition {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.title-info .title-text {
	font-weight: bold;
	font-size: 18px;
}
.title-info .price {
	color: green;
	font-size: 20px;
}
.title-info .condition {
	font-size: 14px;
}
