@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.my-navbar {
    background-color: white;
    height: 65px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.4s ease-out;
}
.logo-and-search {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}
.navbar-items {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #1b262c;

    font-family: "Bebas Neue", cursive;
    font-size: 34px;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.my-nav-menu {
    width: 500px;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.my-nav-menu li .my-link {
    text-decoration: none;
    color: #1b262c;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.my-dropdown-button {
    height: 40px;
    width: 170px;
    border: none;
    color: #f1f1f1;
    background-color: #0c0c0c;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
}

