@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.my-navbar {
    background: #0c0c0c;
    box-shadow: 2px 2px 10px grey;
    height: 7vh;
    width: 100vw;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-and-search {
    display: flex;
    width: 650px;
    justify-content: space-between;
    align-items: center;
}
.navbar-items {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #f5f5f5;
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    cursor: pointer;
}
/*.my-nav-menu {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.my-nav-menu {
    width: 400px;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.my-nav-menu li a {
    text-decoration: none;
    color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
