.search-form {
    display: flex;
}

.search-form input[type="text"] {
    width: 400px;
    height: 30px;
    background: #f1f1f1;
    outline: none;
    box-sizing: border-box;
    border: none;
    padding-left: 40px;
    font-size: 16px;
    transition-duration: 0.4s;
}
.search-button {
    height: 30px;
    width: 100px;
    border: none;
    color: white;
    background-color: #46804c;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.search-button:hover {
    background: #3d6f42;
}
